@font-face {
  font-family: 'iconize';
  src:  url('../fonts/iconize.eot?6a1os9');
  src:  url('../fonts/iconize.eot?6a1os9#iefix') format('embedded-opentype'),
    url('../fonts/iconize.ttf?6a1os9') format('truetype'),
    url('../fonts/iconize.woff?6a1os9') format('woff'),
    url('../fonts/iconize.svg?6a1os9#iconize') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="pic-"], [class*=" pic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconize' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pic-wizard:before {
  content: "\e900";
}
.pic-mobile:before {
  content: "\e000";
}
.pic-laptop:before {
  content: "\e001";
}
.pic-desktop:before {
  content: "\e002";
}
.pic-tablet:before {
  content: "\e003";
}
.pic-phone:before {
  content: "\e004";
}
.pic-document:before {
  content: "\e005";
}
.pic-documents:before {
  content: "\e006";
}
.pic-search:before {
  content: "\e007";
}
.pic-clipboard:before {
  content: "\e008";
}
.pic-newspaper:before {
  content: "\e009";
}
.pic-notebook:before {
  content: "\e00a";
}
.pic-book-open:before {
  content: "\e00b";
}
.pic-browser:before {
  content: "\e00c";
}
.pic-calendar:before {
  content: "\e00d";
}
.pic-presentation:before {
  content: "\e00e";
}
.pic-picture:before {
  content: "\e00f";
}
.pic-pictures:before {
  content: "\e010";
}
.pic-video:before {
  content: "\e011";
}
.pic-camera:before {
  content: "\e012";
}
.pic-printer:before {
  content: "\e013";
}
.pic-toolbox:before {
  content: "\e014";
}
.pic-briefcase:before {
  content: "\e015";
}
.pic-wallet:before {
  content: "\e016";
}
.pic-gift:before {
  content: "\e017";
}
.pic-bargraph:before {
  content: "\e018";
}
.pic-grid:before {
  content: "\e019";
}
.pic-expand:before {
  content: "\e01a";
}
.pic-focus:before {
  content: "\e01b";
}
.pic-edit:before {
  content: "\e01c";
}
.pic-adjustments:before {
  content: "\e01d";
}
.pic-ribbon:before {
  content: "\e01e";
}
.pic-hourglass:before {
  content: "\e01f";
}
.pic-lock:before {
  content: "\e020";
}
.pic-megaphone:before {
  content: "\e021";
}
.pic-shield:before {
  content: "\e022";
}
.pic-trophy:before {
  content: "\e023";
}
.pic-flag:before {
  content: "\e024";
}
.pic-map:before {
  content: "\e025";
}
.pic-puzzle:before {
  content: "\e026";
}
.pic-basket:before {
  content: "\e027";
}
.pic-envelope:before {
  content: "\e028";
}
.pic-streetsign:before {
  content: "\e029";
}
.pic-telescope:before {
  content: "\e02a";
}
.pic-gears:before {
  content: "\e02b";
}
.pic-key:before {
  content: "\e02c";
}
.pic-paperclip:before {
  content: "\e02d";
}
.pic-attachment:before {
  content: "\e02e";
}
.pic-pricetags:before {
  content: "\e02f";
}
.pic-lightbulb:before {
  content: "\e030";
}
.pic-layers:before {
  content: "\e031";
}
.pic-pencil:before {
  content: "\e032";
}
.pic-tools:before {
  content: "\e033";
}
.pic-tools-2:before {
  content: "\e034";
}
.pic-scissors:before {
  content: "\e035";
}
.pic-paintbrush:before {
  content: "\e036";
}
.pic-magnifying-glass:before {
  content: "\e037";
}
.pic-circle-compass:before {
  content: "\e038";
}
.pic-linegraph:before {
  content: "\e039";
}
.pic-mic:before {
  content: "\e03a";
}
.pic-strategy:before {
  content: "\e03b";
}
.pic-beaker:before {
  content: "\e03c";
}
.pic-caution:before {
  content: "\e03d";
}
.pic-recycle:before {
  content: "\e03e";
}
.pic-anchor:before {
  content: "\e03f";
}
.pic-profile-male:before {
  content: "\e040";
}
.pic-profile-female:before {
  content: "\e041";
}
.pic-bike:before {
  content: "\e042";
}
.pic-wine:before {
  content: "\e043";
}
.pic-hotairballoon:before {
  content: "\e044";
}
.pic-globe:before {
  content: "\e045";
}
.pic-genius:before {
  content: "\e046";
}
.pic-map-pin:before {
  content: "\e047";
}
.pic-dial:before {
  content: "\e048";
}
.pic-chat:before {
  content: "\e049";
}
.pic-heart:before {
  content: "\e04a";
}
.pic-cloud:before {
  content: "\e04b";
}
.pic-upload:before {
  content: "\e04c";
}
.pic-download:before {
  content: "\e04d";
}
.pic-target:before {
  content: "\e04e";
}
.pic-hazardous:before {
  content: "\e04f";
}
.pic-piechart:before {
  content: "\e050";
}
.pic-speedometer:before {
  content: "\e051";
}
.pic-global:before {
  content: "\e052";
}
.pic-compass:before {
  content: "\e053";
}
.pic-lifesaver:before {
  content: "\e054";
}
.pic-clock:before {
  content: "\e055";
}
.pic-aperture:before {
  content: "\e056";
}
.pic-quote:before {
  content: "\e057";
}
.pic-scope:before {
  content: "\e058";
}
.pic-alarmclock:before {
  content: "\e059";
}
.pic-refresh:before {
  content: "\e05a";
}
.pic-happy:before {
  content: "\e05b";
}
.pic-sad:before {
  content: "\e05c";
}
.pic-facebook:before {
  content: "\e05d";
}
.pic-twitter:before {
  content: "\e05e";
}
.pic-googleplus:before {
  content: "\e05f";
}
.pic-rss:before {
  content: "\e060";
}
.pic-tumblr:before {
  content: "\e061";
}
.pic-linkedin:before {
  content: "\e062";
}
.pic-dribbble:before {
  content: "\e063";
}
